.footer {
  background: #f8fafc;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT */
.footer-left {
  max-width: 300px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left p {
  margin: 15px 0;
  color: #555;
}

.socials {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #555;
}

/* LINKS */
.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links p {
  color: #555;
  margin: 5px 0;
  cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom span {
  margin-left: 15px;
  color: #555;
  cursor: pointer;
}